{% load i18n %}
{% trans analysis.info.category as category %}
<div class="row">
    <div class="col-md-8">
        {% if analysis.info.category == "file" and analysis.target %}
            {% include "analysis/overview/_file.html" %}
        {% elif analysis.info.category == "url" %}
            {% include "analysis/overview/_url.html" %}
        {% endif %}
    </div>
    <div class="col-md-4">
        <h4><span class="glyphicon glyphicon-fire" aria-hidden="true"></span> Score</h4>
        {% if analysis.info.score < 1 %}
        <div class="alert alert-success">
        {% blocktrans with score=analysis.info.score trimmed %}
            This {{ category }} appears fairly benign with a score of <strong>{{ score }} out of 10.</strong>
        {% endblocktrans %}
        </div>
        {% elif analysis.info.score < 2 %}
        <div class="alert alert-info">
        {% blocktrans with score=analysis.info.score trimmed %}
            <p>This {{ category }} shows some signs of potential malicious behavior.</p>
            <p>The score of this {{ category }} is <strong>{{ score }} out of 10.</strong></p>
        {% endblocktrans %}
        </div>
        {% elif analysis.info.score < 5 %}
        <div class="alert alert-warning">
        {% blocktrans with score=analysis.info.score trimmed %}
            This {{ category }} shows numerous signs of malicious behavior.
            <br/><br/>
            The score of this {{ category }} is <strong>{{ score }} out of 10.</strong>
         {% endblocktrans %}
       </div>
        {% else %}
        <div class="alert alert-danger">
        {% blocktrans with score=analysis.info.score trimmed %}
            <p>This {{ category }} is <b>very suspicious</b>, with a score of <strong>{{ score }} out of 10!</strong></p>
        {% endblocktrans %}
        </div>
        {% endif %}

        <p>
            {% trans "<b>Please notice</b>: The scoring system is currently still in development and should be considered an <b><i>alpha</i></b> feature." %}
        </p>
    </div>
</div>

{% include "analysis/overview/_info.html" %}

<div class="row">
    <div class="col-md-12">
    {% include "analysis/overview/_signatures.html" %}
    </div>
    <div class="col-md-12">
    {% include "analysis/overview/_screenshots.html" %}
    </div>
</div>

<div style="margin-top: 30px;"></div>

<h4><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> {% trans "Network" %}</h4>
<div class="row">
    <div class="col-xs-6">{% include "analysis/network/_dns.html" %}</div>
    <div class="col-xs-6">{% include "analysis/network/_hosts.html" %}</div>
</div>

{% include "analysis/overview/_summary.html" %}
