{% load i18n %}
<table class="table table-bordered" style="table-layout: fixed;">
    <thead>
        <tr>
            <th>CPU</th>
            <th>{% trans "Selector" %}</th>
            <th>{% trans "Base" %}</th>
            <th>{% trans "Limit" %}</th>
            <th>{% trans "Type" %}</th>
            <th>{% trans "Dpl" %}</th>
            <th>{% trans "Granularity" %}</th>
            <th>{% trans "Present" %}</th>
        </tr>
    </thead>
    <tbody>
    {% for row in analysis.memory.gdt.data|volsort %}
        <tr>
            <td class="{{ row.class_ }}">{{row.cpu_number}}</td>
            <td class="{{ row.class_ }}"><span class="mono">{{row.selector}}</span></td>
            <td class="{{ row.class_ }}"><span class="mono">{{row.base}}</span></td>
            <td class="{{ row.class_ }}"><span class="mono">{{row.limit}}</span></td>
            <td class="{{ row.class_ }}">{{row.type}}</td>
            <td class="{{ row.class_ }}">{{row.dpl}}</td>
            <td class="{{ row.class_ }}">{{row.granularity}}</td>
            <td class="{{ row.class_ }}">{{row.present}}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
