{% load i18n %}
<table class="table table-bordered" style="table-layout: fixed;">
    <thead>
        <tr>
            <th>{% trans "Parent PID" %}</th>
            <th>PID</th>
            <th>{% trans "Name" %}</th>
            <th>{% trans "Create Time" %}</th>
            <th>{% trans "Exit Time" %}</th>
            <th>{% trans "# Threads" %}</th>
            <th>{% trans "# Handles" %}</th>
            <th>{% trans "Session ID" %}</th>
        </tr>
    </thead>
    <tbody>
    {% for row in analysis.memory.pslist.data|volsort %}
        <tr>
            <td class="{{ row.class_ }}">{{row.parent_id}}</td>
            <td class="{{ row.class_ }}">{{row.process_id}}</td>
            <td class="{{ row.class_ }}">{{row.process_name}}</td>
            <td class="{{ row.class_ }}">{{row.create_time}}</td>
            <td class="{{ row.class_ }}">{{row.exit_time}}</td>
            <td class="{{ row.class_ }}">{{row.num_threads}}</td>
            <td class="{{ row.class_ }}">{{row.num_handles}}</td>
            <td class="{{ row.class_ }}">{{row.session_id}}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
