{% load i18n %}
<table class="table table-bordered" style="table-layout: fixed;">
    <thead>
        <tr>
            <th>{% trans "Index" %}</th>
            <th>{% trans "Table" %}</th>
            <th>{% trans "Entry" %}</th>
            <th>{% trans "Syscall Name" %}</th>
            <th>{% trans "Syscall Addr" %}</th>
            <th>{% trans "Syscall Modname" %}</th>
            <th>{% trans "Hook?" %}</th>
        </tr>
    </thead>
    <tbody>
    {% for row in analysis.memory.ssdt.data|volsort %}
        <tr>
            <td class="{{ row.class_ }}">{{row.index}}</td>
            <td class="{{ row.class_ }}"><span class="mono">{{row.table}}</span></td>
            <td class="{{ row.class_ }}">{{row.entry}}</td>
            <td class="{{ row.class_ }}">{{row.syscall_name}}</td>
            <td class="{{ row.class_ }}"><span class="mono">{{row.syscall_addr}}</span></td>
            <td class="{{ row.class_ }}">{{row.syscall_modname}}</span></td>
            <td class="{{ row.class_ }}">{{row.hook_dest_addr}}: {{row.hook_name}}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
