{% load i18n %}
<table class="table table-bordered" style="table-layout: fixed;">
    <thead>
        <tr>
            <th>{% trans "Owner" %}</th>
            <th>{% trans "Rule" %}</th>
            <th>{% trans "Hexdump" %}</th>
        </tr>
    </thead>
    <tbody>
    {% for row in analysis.memory.yarascan.data|volsort %}
        <tr>
            <td class="{{ row.class_ }}">{{row.owner}}</td>
            <td class="{{ row.class_ }}">{{row.rule}}</td>
            <td class="{{ row.class_ }}"><span class="mono"><pre>{{row.hexdump}}</pre></span></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
