{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div class="alert alert-success"><h4>{% trans "Submission complete!" %}</h4>
{% trans "The following tasks were added successfully:" %}
{% for task in tasks %}
    <a href="{% url "submission.views.status" task %}">{{task}}</a>
{% endfor %}.
<br /><br />
{% trans "Click on the links to monitor the status of the submission:" %}<br />
{% for task in tasks %}
    <a href="{% url "submission.views.status" task %}">{{ baseurl }}{% url "submission.views.status" task %}</a><br />
{% endfor %}
</div>
{% endblock %}
